/*.is-phone .sr-modal-content {*/
/*    overflow: auto;*/
/*}*/

.tree-item-outer {
    display: flex;
    align-items: center;
}

.sr-coverage-badge {
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 0 5px;
}

.sr-coverage-badge.poor {
    background-color: indianred;
}

.sr-coverage-badge.average {
    background-color: coral;
}

.sr-coverage-badge.good {
    background-color: lightgreen;
}

body:not(.native-scrollbars) .modal-back-button {
    left: 12px;
}

.is-phone .sr-modal .modal-back-button {
    top: var(--size-2-3);
    top: var(--size-4-3);
    cursor: var(--cursor);
    position: absolute;
    right: var(--size-2-3);
    font-size: 24px;
    line-height: 20px;
    height: 24px;
    width: 24px;
    padding: 0 var(--size-2-2);
    border-radius: var(--radius-s);
    color: var(--text-muted);
}

.sr-highlight .tree-item-self {
    justify-content: space-between;
}

.sr-highlight-tree {
    padding-inline-start: 0;
    overflow: scroll;
    height: 70%;
}

li.tree-item-self.is-clickable {
    text-align: left;
}

div.sr-annotation {
    height: auto;
}

form.sr-card-form {
    height: 70%;
}

div.sr-question-input > textarea {
    width: 70%;
    height: 60%;
}

div.sr-answer-input > textarea {
    width: 70%;
    height: 60%;
}

/*div.sr-question-input > textarea {*/
div.sr-question-input {
    height: 40%;
    /*height: auto;*/
}

div.sr-answer-input {
    /*width: 60%;*/
    height: 40%;
    /*height: auto;*/
}

.sr-blockquote {
    color: var(--blockquote-color);
    font-style: var(--blockquote-font-style);
    background-color: #333;
    border-left: var(--blockquote-border-thickness) solid var(--blockquote-border-color);
    padding: 0 0 0 var(--size-4-6);
    margin-inline-start: 0;
    margin-inline-end: 0;
    user-select: text;
}

.sr-response-form {
    width: inherit;
    display: flex;
}

div.sr-card-body {
    height: 80%;
}

h4 > div.tree-item-flair-outer {
    justify-content: center;
}

.label-wrapper {
    width: 80%;
    text-align: left;
}

/*.sr-answer-input-text {*/
/*    width: 80%;*/
/*    height: 40%;*/
/*}*/

/*.sr-question-input-text {*/
/*    width: 80%;*/
/*    height: 20%;*/
/*}*/

.sr-question-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*height: 30%;*/
}

.sr-answer-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*height: 40%;*/
    justify-content: center;
}

.sr-test-counts {
    padding: 2px;
    margin: 2px;
    width: 1.5rem;
    text-align: center;
}

ul.sr-chapter-tree {
    padding-inline-start: 0;
}


button.create-deck {
    width: 90%;
    background: var(--search-clear-button-color);
    color: black;
}

ul.sr-deck-tree {
    padding-inline-start: 0;
}

.sr-deck {
    justify-content: space-between;
}

.sr-deck.tree-item-inner {
    /*margin-left: -43rem;*/
}

div.sr-tab-nav {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    /* padding: 1rem; */
}

a.sr-nav-link {
    padding: 1rem;
    border-radius: 1em;
}

a.sr-nav-link.is-clickable:hover {
    background: var(--background-modifier-border-hover);
}

a.sr-nav-link.is-clickable.active {
    background: var(--background-modifier-border-hover);
}

.tree-item-self:hover .tree-item-flair {
    color: initial;
}

.modal-title > .tree-item-flair-outer {
    justify-content: space-around;
}

.sr-modal {
    height: 80%;
    width: 60%;
}

.sr-header {
    height: 15%;
}

div.tree-item-flair-outer {
    /*margin-left: 0;*/
}

div.tree-item-inner {
    text-align: left;
}

span.new-cards {
    color: lightgreen;
}

span.total-cards {
    color: lightsalmon;
}

span.due-cards {
    color: lightskyblue;
}

span.sr-deck-counts {
    font-weight: bold;
}

.sr-modal-content {
    text-align: center;
    height: 80%;
}

.sr-link {
    color: var(--text-accent);
    text-decoration: underline;
    cursor: pointer;
    margin-bottom: 16px;
    float: left;
    width: 33%;
    text-align: center;
}

.sr-input-modal {
    height: 80%;
    width: 60%;
}

.sr-input-area {
    height: 80%;
}

.sr-input-area > textarea.question {
    width: 100%;
}

.sr-input-area > textarea.answer {
    height: 50%;
    width: 100%;
}

.sr-response {
    display: flex;
    justify-content: space-around;
    width: 100%;
    grid-template-columns: auto auto auto;
    margin-bottom: 1em;
}

.sr-ignorestats-response {
    grid-template-columns: auto auto !important;
}

.sr-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sr-deck-counts {
    padding: 2px;
    margin: 2px;
    width: 1.5rem;
    text-align: center;
}

#sr-show-answer {
    height: 48px;
    line-height: 48px;
    width: 100%;
    text-align: center;
    bottom: 0;
    cursor: pointer;
    background-color: #2196f3;
    color: #ffffff;
    border-radius: 4px;
    padding: 0;
    align-self: center;
}

#sr-hr-card-divide {
    backdrop-filter: invert(40%);
    border: none;
    height: 2px;
}

#sr-hard-btn,
#sr-good-btn,
#sr-easy-btn {
    height: 48px;
    margin: auto;
    color: #ffffff;
}

#sr-hard-btn {
    background-color: #f44336;
}

#sr-good-btn {
    background-color: #2196f3;
}

#sr-easy-btn {
    background-color: #4caf50;
}

#sr-context {
    font-style: italic;
    font-weight: bold;
    display: inline-block;
    width: 100%;
}

#sr-flashcard-view {
    margin-top: 5em;
    height: 60%;
}

.sr-ignorestats-btn {
    /* Bit of a hack, but it works. */
    margin: 0px !important;
    margin-right: 12px !important;
}


@media only screen and (max-width: 600px) {
    div.modal-content.sr-modal-content {
        display: block !important;
        /* width: 90%; */
    }

    .sr-modal-content::-webkit-scrollbar,
    #sr-flashcard-view::-webkit-scrollbar {
        display: none;
    }

    #sr-hard-btn,
    #sr-good-btn,
    #sr-easy-btn {
        width: 100px;
    }

    .sr-input-area > textarea.question {
        width: 100%;
        align-self: center;
        height: 15%;
    }

    .sr-input-area > textarea.answer {
        width: 100%;
        align-self: center;
        height: 35%;
    }
}