.sr-flashcard-tree {
    padding-inline-start: 0;
}

.sr-flashcard > a {
    width: 90%;
}

.sr-flashcard > button {
    width: 2rem;
    height: 2rem;
}

.sr-flashcard {
    justify-content: space-between;
    align-items: center;
}

div.chapter-tree {
    height: 60%;
    display: flex;
    overflow: scroll;
    flex-direction: column;
}

div.tree-item-inner {
    width: 100%;
    text-align: left;
}

div.tree-item-outer {
    width: 50%;
    justify-content: flex-end;
}

.sr-flashcard-preview {
    height: 60%;
}

.annotation-nav {
    width: 5%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

a.annotation-nav {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.modal-back-button {
    cursor: var(--cursor);
    position: absolute;
    top: var(--size-4-3);
    left: var(--size-2-3);
    font-size: 24px;
    line-height: 20px;
    height: 24px;
    width: 24px;
    padding: 0 var(--size-2-2);
    border-radius: var(--radius-s);
    color: var(--text-muted);
    margin-top: 0.2rem;
}

div.sr-annotation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.tree-item-outer {
    display: flex;
    align-items: center;
}

.progress {
    margin: 0 5px;
    width: 50%;
    height: 8px;
    border-radius: 8px;
    background-size: 100% 100%;
    background-color: var(--background-secondary-alt);
}

.progress > div {
    height: 8px;
    border-radius: 8px;
}

.sr-coverage-badge {
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 0 5px;
}

.sr-coverage-badge.poor {
    background-color: salmon;
}

.sr-coverage-badge.average {
    background-color: rgb(255, 255, 120);
}

.sr-coverage-badge.good {
    background-color: rgb(150, 255, 150);
}

body:not(.native-scrollbars) .modal-back-button {
    left: 12px;
}

.is-phone.sr-modal.modal-back-button {
    top: var(--size-4-3);
    cursor: var(--cursor);
    position: absolute;
    right: var(--size-2-3);
    font-size: 24px;
    line-height: 20px;
    height: 24px;
    width: 24px;
    padding: 0 var(--size-2-2);
    border-radius: var(--radius-s);
    color: var(--text-muted);
}

.sr-highlight.tree-item-self {
    justify-content: space-between;
}

a.sr-section {
    width: 100%;
}

.sr-highlight-tree {
    padding-inline-start: 0;
    overflow: scroll;
    height: 70%;
}

li.tree-item-self.is-clickable {
    text-align: left;
}

div.annotation-content {
    height: auto;
    width: 90%;
}

div.annotation-note {
    width: 100%;
    height: 100%;
}

form.sr-card-form {
    height: 60%;
}

div.sr-question-input > textarea {
    width: 100%;
    height: 50%;
}

div.sr-answer-input > textarea {
    width: 100%;
    height: 50%;
}

.sr-blockquote-note,
.sr-blockquote-annotation {
    color: var(--blockquote-color);
    font-style: var(--blockquote-font-style);
    background-color: #333;
    border-left: var(--blockquote-border-thickness) solid var(--blockquote-border-color);
    padding: 0 0 0 var(--size-4-6);
    margin-inline-start: 0;
    margin-inline-end: 0;
    user-select: text;
    overflow-x: scroll;
}

.sr-blockquote-note {
    height: 20%;
}

.sr-blockquote-note > p {
    height: 80%;
}

[class^="sr-blockquote"] {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 1em;
}

[class^="sr-blockquote"] > p {
    height: 85%;
    margin-top: 1em;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.sr-response-form {
    width: inherit;
    display: flex;
}

div.sr-card-body {
    height: 80%;
}

h4>div.tree-item-flair-outer {
    justify-content: center;
}

.label-wrapper {
    width: 80%;
    text-align: left;
}

.sr-question-input,
.sr-answer-input {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
}

.sr-test-counts {
    padding: 2px;
    margin: 2px;
    width: 1.5rem;
    text-align: center;
}

ul.sr-chapter-tree {
    padding-inline-start: 0;
}

button.create-deck {
    width: 90%;
    background: var(--search-clear-button-color);
    color: black;
}

ul.sr-deck-tree {
    padding-inline-start: 0;
}

.sr-deck {
    justify-content: space-between;
}

.sr-deck.tree-item-inner {
    display: flex;
}

div.sr-tab-nav {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

a.sr-nav-link {
    padding: 1rem;
    border-radius: 1em;
}

a.sr-nav-link.is-clickable:hover,
a.sr-nav-link.is-clickable.active {
    background: var(--background-modifier-border-hover);
}

.tree-item-self:hover .tree-item-flair {
    color: initial;
}

.modal-title > .tree-item-flair-outer {
    justify-content: space-around;
}

.modal-title {
    margin-left: 2rem;
    width: 85%;
}

.sr-modal {
    height: 80%;
    width: 60%;
}

.sr-header {
    height: 15%;
}

span.new-cards {
    color: lightgreen;
}

span.total-cards {
    color: lightsalmon;
}

span.due-cards {
    color: lightskyblue;
}

span.sr-deck-counts {
    font-weight: bold;
}

.sr-modal-content {
    text-align: center;
    height: 80%;
}

.sr-link {
    color: var(--text-accent);
    text-decoration: underline;
    cursor: pointer;
    margin-bottom: 16px;
    float: left;
    width: 33%;
    text-align: center;
}

.sr-input-modal {
    height: 80%;
    width: 60%;
}

.sr-input-area {
    height: 80%;
}

.sr-input-area > textarea.question {
    width: 100%;
}

.sr-input-area > textarea.answer {
    height: 50%;
    width: 100%;
}

.sr-response {
    display: flex;
    justify-content: space-around;
    width: 100%;
    grid-template-columns: auto auto auto;
    margin-bottom: 1em;
}

.sr-ignorestats-response {
    grid-template-columns: auto auto !important;
}

.sr-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sr-deck-counts {
    padding: 2px;
    margin: 2px;
    width: 1.5rem;
    text-align: center;
}

#sr-show-answer {
    height: 48px;
    line-height: 48px;
    width: 100%;
    text-align: center;
    bottom: 0;
    cursor: pointer;
    background-color: #2196f3;
    color: #ffffff;
    border-radius: 4px;
    padding: 0;
    align-self: center;
}

#sr-hr-card-divide {
    backdrop-filter: invert(40%);
    border: none;
    height: 2px;
}

#sr-hard-btn,
#sr-good-btn,
#sr-easy-btn {
    height: 48px;
    margin: auto;
    color: #ffffff;
}

#sr-hard-btn {
    background-color: #f44336;
}

#sr-good-btn {
    background-color: #2196f3;
}

#sr-easy-btn {
    background-color: #4caf50;
}

#sr-context {
    font-style: italic;
    font-weight: bold;
    display: inline-block;
    width: 100%;
}

#sr-flashcard-view {
    margin-top: 5em;
    height: 60%;
}

.sr-ignorestats-btn {
    /* Bitof a hack, but it works. */
    margin: 0 !important;
    margin-right: 12px !important;
}


@media only screen and (max-width: 600px) {
    .sr-modal-content::-webkit-scrollbar,
    #sr-flashcard-view::-webkit-scrollbar {
        display: none;
    }

    #sr-hard-btn,
    #sr-good-btn,
    #sr-easy-btn {
        width: 100px;
    }

    .sr-input-area > textarea.question {
        width: 100%;
        align-self: center;
        height: 15%;
    }

    .sr-input-area > textarea.answer {
        width: 100%;
        align-self: center;
        height: 35%;
    }
}

@keyframes sr-highlight-fade {
    0% {
        background-color: var(--background-modifier-border-hover);
    }

    100% {
        background-color: transparent;
    }
}

.sr-annotation-highlighted {
    animation: sr-highlight-fade 1.5s ease-out;
}

.sr-question-input-icon {
    position: absolute;
    top: -2pt;
    right: 0;
}

.sr-question-input-wrapper {
    position: relative;
    overflow: visible !important;
}

.sr-help-popup {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    padding: 1em;
    background-color: var(--background-secondary);
    border: 1px solid var(--background-modifier-border);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    z-index: 10;
}

.is-mobile .sr-modal-button-container {
    flex-direction: row;
    flex-wrap: nowrap;
}

.is-phone .modal-button-container button.mod-cancel.sr-button {
    margin-top: 0;
}

.is-phone .modal-button-container button.sr-button {
    width: 50%;
}
